In [1]:
from io import BytesIO
import itertools

import pandas as pd
import numpy as np

from diligent import diligent, registry

In [2]:
test_df = pd.DataFrame({'a': [None, None] + [x for x in range(1000)] + [999] + [998]})
diligent(test_df, include='basic', interactive=False)  # Interactive is set to False here to allow rendering on GitHub

In [3]:
test_df = pd.DataFrame({'a': [None] + [x for x in range(1000)] + ([999] * 3) + ([123] * 5) + [None],
                        'b': [None, None] + [x for x in range(1000, 0, -1)] + ([999] * 3) + ([123] * 5)})

diligent(test_df, interactive=False)

In [4]:
test_df = pd.DataFrame({'alternate': [1,1,1,1] + list(itertools.chain(*zip([x for x in range(0, 1000, 2)],
                                                               [x for x in range(1, 1000)]))) + [1,2,3,4,5],
                        'linear': range(1009),
                        'random': np.random.rand(1009)
                        })
diligent(test_df, interactive=False)